html {
  font-size: 16px;
}

main {
  margin: 2rem auto;
  max-width: 700px;
}

.gh-link {
  margin-right: 2rem;
}

.ProseMirror {
  border: 1px solid black;
  min-height: 140px;
  overflow-wrap: break-word;
  outline: none;
  padding: 10px;
  white-space: pre-wrap;
  max-width: 600px;
  width: 100%;
}
.ProseMirror .equation {
  position: relative;
  cursor: context-menu;
  line-height: 1em;
}
.ProseMirror .equation svg {
  max-width: 100%;
}

.ProseMirror figcaption .equation,
.ProseMirror p .equation {
  display: inline;
  vertical-align: baseline;
  margin: 0 5px;
}

.ProseMirror figcaption .equation-placeholder,
.ProseMirror p .equation-placeholder {
  display: inline;
}

.ProseMirror .code-placeholder,
.ProseMirror .equation-placeholder,
.ProseMirror .caption-placeholder {
  color: #c9c9c9;
}

.ProseMirror .equation .equation-placeholder {
  text-align: center;
}
